<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="/recipe">Breakfast</a>
                        </li>
                        <li class="active">
                            <a href="/recipe">Lunch</a> 
                        </li>
                        <li class="active">
                            <a href="/recipe">Dinner</a>
                        </li>
                        <li class="active">
                            <a href="/recipe">Appetizers/Snacks</a>
                        </li>
                        <li class="active">
                            <a href="/recipe">Desserts</a>
                        </li>
                        <li class="active">
                            <a href="/recipe">Holidays</a>
                        </li>
                        <li class="active">
                            <a href="/addrecipe">Add A Recipe</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="../Content/healthy-breakfast-collage-10545212.jpg" height="100" alt="Breakfast Collage" />
                        <div class="caption">
                            <h3>
                                Breakfast
                            </h3>
                            <p>
                                Breakfast. It's the most important meal of the day, right? Start you day off deliciously. Try a nice fritatta,
                                or how about some healthy hot cereal? Smoothies are tasty. Go on. You know you want to.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="/recipe">Breakfast Recipes</a>
                                <a class="btn" ng-click="vm.recipeToAdd" href="/addrecipe">Add A Breakfst Recipe</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Lunch Collage" height="100 " src="../Content/healthy-lunch-ideas-for-weight-loss.jpg" />
                        <div class="caption">
                            <h3>
                                Lunch
                            </h3>
                            <p>
                                Brown baggin' it? Boring! Amirite? NO! I'm not right.
                                Treat yourself to some healthy (or not so healthy...it's your lunch) lunches that will get you through
                                until dinner time. You don't always have to eat a sandwich or salad. Try something different and make
                                your co-workers jealous of your yummy lunch box of goodness.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="/recipe">Lunch Recipes</a>
                                <a class="btn" ng-click="vm.recipeToAdd" href="/addrecipe">Add A Lunch Recipe</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Dinner Collage" src="../Content/Easy-Dinner-Collage-1.jpg" height="100" />
                        <div class="caption">
                            <h3>
                                Dinner
                            </h3>
                            <p>
                                What's for dinner? Why it's something amazing that you whipped up! We all wish we had a
                                personal chef, but since we live in the real world, forget about that drive through window and pick out something that makes your mouth
                                water.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="/recipe">Dinner Recipes</a> 
                                <a class="btn"  ng-click="vm.recipeToAdd" href="/addrecipe">Add A Dinner Recipe</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Appetizers Thumbnail" src="../Content/Tempting-Tasty-Appetizers-for-Parties-e1424730112649.jpg" />
                        <div class="caption">
                            <h3>
                                Appetizers and Snacks
                            </h3>
                            <p>
                                Some food before my food? Yes please. Parties, holidays, lazy weekend. They all require appetizers and
                                snacks. Don't be that guy or gal who just brings a bag of chips to the party. Impress your friend and
                                make something.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="/recipe">Appetizers/Snacks Recipes</a>
                                <a class="btn" ng-click="vm.recipeToAdd" href="/addrecipe">Add An Appetizer/Snack Recipe</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Desserts Collage" src="../Content/desserts.jpg" />
                        <div class="caption">
                            <h3>
                                Desserts
                            </h3>
                            <p>
                                Cookies, cake, pie, ice cream, pudding. Nom, nom, nom. Dessert. It's the best part of any meal.
                                Sara Lee, move over. Little Debbie, step down. We're making the sweet stuff now.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="/recipe">Dessert Recipes</a>
                                <a class="btn" ng-click="vm.recipeToAdd" href="/addrecipe">Add A Dessert Recipe</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Holiday Meal Thumbnail" src="../Content/holidays.jpg" />
                        <div class="caption">
                            <h3>
                                Holidays
                            </h3>
                            <p>
                                Chirstmas and Thanksgiving aren't the only holidays in town. What about Easter, the 4th of July, and Halloween? Or Mother's Day, Father's Day,
                                Kwanzaa, Hanukkah, Passover? Then of course there's Beltane, Mabon, Holi, Vesak, and  Eid Al-Fitr. Special occassions deserve special food. Get on it!
                            </p>
                            <p>
                                <a class="btn btn-primary" href="/recipe">Holiday Recipes</a>
                                <a class="btn" ng-click="vm.recipeToAdd" href="/addrecipe">Add A Holiday Recipe</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
